/*GLOBAL STYLES*/
*{
    margin: 0;
    padding: 0;
}
section{
    /* margin-top: 310px; */
    padding-top: 310px;
    background-color: rgb(255, 125, 125);
}
#video,#pricing{
    background-color: white;
}

/*HEADER STYLING*/
#header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
#header-img{
    width: 30%;
    height: 30%;
}
#nav-bar{
    float: right;
}
.nav-link{
    border: 0;
    background-color: white;
    /* padding: 10px;
    margin: 10px; */
}
.nav-link a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/*FORM STYLING*/
#form
{
    text-align: center;
    padding: 20px;
}
#form h2,#form p,#form h3{
    padding: 10px;
}

#email{
    font-size: 20px;
    padding: 3px;
    border: 0;
    border-radius: 10px;
}
#email:focus{
    outline-color: red;
}
#submit{
    background-color: white;
    border: 0;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 10px 0px 10px;
}

/*FEATURE STYLING*/
.features-hr-div{
    padding: 10px;
}
.features-hr-div hr{
    width: 80%;
    margin: auto;
    border: 1px solid white;
}
.div-feature
{
    text-align: center;
}

/*VIDEO STYLING*/
#video
{
    margin-top: 10px;
    width: 100%;
}

/*PRICING STYLING*/
#pricing{
    display: flex;
}
.price-card{
    width: 100%;
    border-radius: 10px;
}
.price-card h2{
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgb(241, 36, 36);
}
.price-card p{
    padding: 5px;
    text-align: center;
}

/*FOOTER STYLING*/
footer{
    color: white;
    background-color: black;
    padding: 20px;
}

/*BREAKPOINTS*/
/*small*/
@media screen and (max-width: 767px)
{
    /*HEADER STYLING*/
    #header
    {
        text-align: center;
    }
    #header-img{
        padding: 10px;
    }
    #nav-bar{
        float: none;
    }
    .nav-link{
        display: block;
        padding: 5px;
        width: 25%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 10px;
    }

    /*FORM STYLING*/
    /*FEATURE STYLING*/
    /*VIDEO STYLING*/
    
    /*PRICING STYLING*/
    #pricing{
        display: block;
        padding: 25px;
    }
    .price-card{
        border: 2px solid rgb(241, 36, 36);
        width: 100%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .price-card-img{
        width: 100%;
    }
    
    /*FOOTER STYLING*/
}

/*tablets*/
@media (min-width: 768px) and (max-width: 991px)
{
    /*HEADER STYLING*/
    #nav-bar{
        float: none;
        /* text-align: none; */
    }
    .nav-link{
        display: block;
        margin: none;
    }
    /*FORM STYLING*/
    /*FEATURE STYLING*/
    /*VIDEO STYLING*/
    /*PRICING STYLING*/
    /*FOOTER STYLING*/
    #header-img{
        width: 5%;
    }
    .nav-link{
        padding: 5px;
        width: 25%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    .nav-link a{
        font-size: 
    }
}

/*tablets/laptops*/
@media (min-width: 992px) and (max-width: 1199px)
{
    /*HEADER STYLING*/
    /*FORM STYLING*/
    /*FEATURE STYLING*/
    /*VIDEO STYLING*/
    /*PRICING STYLING*/
    /*FOOTER STYLING*/
    #header-img{
        width: 4%;
    }
}

/*large*/
@media screen and (min-width: 1200px)
{
    /*HEADER STYLING*/
    /*FORM STYLING*/
    /*FEATURE STYLING*/
    /*VIDEO STYLING*/
    /*PRICING STYLING*/
    /*FOOTER STYLING*/
    #header-img{
        width: 3%;
    }
}